*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inter', sans-serif;
    position: relative;
    height: 100vh;
    @include grid-container(1fr auto 1fr, auto);
    grid-template-rows: 1fr auto 1fr;
    background: rgb(77,80,97);
    background: -moz-radial-gradient(circle, rgba(77,80,97,1) 0%, rgba(48,50,61,1) 50%, rgba(38,39,48,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(77,80,97,1) 0%, rgba(48,50,61,1) 50%, rgba(38,39,48,1) 100%);
    background: radial-gradient(circle, rgba(77,80,97,1) 0%, rgba(48,50,61,1) 50%, rgba(38,39,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d5061",endColorstr="#262730",GradientType=1);
}
