// SPACE
$space-32: 3.2rem;
$space-16: 1.6rem;
$space-8: 0.8rem;
// FONT-SIZE
$font-16: 1.6em;
$font-14: 1.4em;
$font-12: 1.2em;
$font-10: 1em;
// COLOR
$dark-grey: #30323D;
$dark-grey-strong: #262730;
$grey: #4D5061;
$grey-strong: #444655;
$light: #CDD1C4;
$orange: #FF521B;
$light-op: rgba(205, 209, 196, 0.60);