.container {
    width: 33vw;
    min-width: 41rem;
    border-radius: 6px;
    grid-column: 2/3;
    grid-row: 2/3;

    -webkit-box-shadow: 0px 0px 18px 12px rgba(38, 39, 48, 0.9);
    -moz-box-shadow: 0px 0px 18px 12px rgba(38, 39, 48, 0.9);
    box-shadow: 0px 0px 18px 12px rgba(38, 39, 48, 0.9);

    &-main {
        @include flex(column, nowrap, start, stretch, $space-16);
        background: $light;
        padding: $space-8;
        border-radius: 6px;

        .header {
            @include grid-container(auto, auto);
            padding: $space-16;

            border-radius: 6px;
            place-items: center;
            background-color: $grey;

            .header_figure {
                .header_figure-image {}
            }
        }

        .chat {
            @include grid-container(auto, auto);
            @include grid-gap(0, $space-16);
            place-items: center;
            max-width: 100%;

            &_history {
                @include flex(column, nowrap, start, stretch, $space-8);
                min-height: 60vh;
                max-height: 60vh;
                width: 100%;
                border-radius: 6px;
                padding: $space-16;
                overflow: auto;
                background: $grey;

                .msg {
                    @include flex(column, nowrap, start, stretch, 2px);
                    width: 100%;

                    .msg-owner {
                        font-size: $font-12;
                        color: $light;
                        font-weight: 400;
                    }

                    .msg-bg {
                        @include flex(row, nowrap, space-between, stretch, 2px);
                        background: $dark-grey;
                        padding: $space-8;
                        border-radius: 6px;

                        .msg-text {
                            font-size: $font-14;
                            color: $light;
                            font-weight: 400;
                            word-break: break-all;
                        }

                        .msg-time {
                            font-size: $font-10;
                            color: $light;
                            font-weight: 400;
                            align-self: end;
                            justify-self: end;
                        }
                    }
                }

                .msg-user {
                    .msg-owner {
                        color: $orange;
                    }

                    .msg-bg {
                        background: $dark-grey-strong;
                    }
                }

                // Scroll styles
                &::-webkit-scrollbar {
                    width: $space-8;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar-button {
                    height: 100%;
                }

                &::-webkit-scrollbar-track-piece {
                    background: $grey;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background: $dark-grey;
                    border-radius: 6px;
                }
            }

            &_form {
                @include flex(row, nowrap, start, stretch, $space-8);
                width: 100%;

                &-textarea {
                    border-radius: 6px;
                    width: 100%;

                    background: $dark-grey;
                    border: solid 1px $grey;

                    padding: $space-8;

                    font-size: $font-14;
                    font-weight: 400;
                    font-family: 'Inter', sans-serif;

                    color: $light;
                    resize: none;
                    transition: all .2s ease-in;

                    // Scroll styles
                    &::-webkit-scrollbar {
                        width: $space-8;
                        border-radius: 6px;
                    }

                    &::-webkit-scrollbar-button {
                        height: 100%;
                    }

                    &::-webkit-scrollbar-track-piece {
                        background: $grey;
                        border-radius: 6px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $dark-grey;
                        border-radius: 6px;
                    }

                    &:focus {
                        outline: none;
                        background-color: $dark-grey-strong;
                    }
                }

                #inputSubmit {
                    display: none;

                    &-label {
                        cursor: pointer;
                        padding: $space-16;
                        background-color: $success;
                        border-radius: 50%;
                        transition: all .2s ease-in;

                        svg {
                            fill: white;
                            width: 2.4rem;
                            height: 2.4rem;
                            transition: all .2s ease-in;
                        }

                        &:hover {
                            background-color: $success-strong;
                            -webkit-box-shadow: 0px 8px 8px 4px rgba(38, 39, 48, 0.2);
                            -moz-box-shadow: 0px 8px 8px 4px rgba(38, 39, 48, 0.2);
                            box-shadow: 0px 8px 8px 4px rgba(38, 39, 48, 0.2);

                            svg {
                                fill: $dark-grey-strong;
                                width: 2.4rem;
                                height: 2.4rem;
                            }
                        }
                    }
                }
            }
        }

        #footer {
            @include grid-container(auto, auto);
            place-items: center;
            padding: $space-16;
            border-radius: 6px;
            background-color: $grey;

            &-text {
                font-size: $font-12;
                font-weight: bold;
                color: white;
                text-align: center;
                padding: $space-16;

                transition: all .3s;

                &:hover {
                    color: $dark-grey;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #main-container {
        min-width: 90vw;
    }
}

@media (max-width: 210px) {
    #main-container {
        min-width: 174px;
    }
}