<main class="container">
    <div class="container-main">

        <header class="header">
            <figure class="header_figure">
                <img src="./assets/wannachat-logo.png" alt="Wanna chat logo" class="header_figure-image">
            </figure>
        </header>

        <article class="chat">
            <section id="chat-history" class="chat_history">

            </section>

            <form id="chat-form" class="chat_form" action="/">
                <textarea id="textArea" name="text" class="chat_form-textarea">
                </textarea>

                <input type="submit" name="submit" id="inputSubmit">

                <label for="inputSubmit" id="inputSubmit-label">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="m3.4 20.4l17.45-7.48a1 1 0 0 0 0-1.84L3.4 3.6a.993.993 0 0 0-1.39.91L2 9.12c0 .5.37.93.87.99L17 12L2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z" />
                    </svg>
                </label>

            </form>

        </article>

        <footer id="footer">
            <a href="https://github.com/SebastianBoari">
                <p id="footer-text">SebastianBoari Dev.</p>
            </a>
        </footer>
    </div>

</main>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/app.js"></script>