@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-xl {
  max-width: 138rem;
  margin: 0 auto;
}

.container-l {
  max-width: 120rem;
  margin: 0 auto;
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
}

.display-none {
  display: none !important;
}

.session_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgb(59, 69, 77);
}
.session_container .session {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 6.4rem;
  flex-grow: 1;
  padding: 3.2rem;
  background: rgb(255, 255, 255);
  border-radius: 1.6rem;
}
.session_container .session_text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  height: 58.9rem;
  width: 38.2rem;
  padding: 3.2rem;
  border-radius: 6px;
}
.session_container .session_text-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
.session_container .session_text-header .header_title {
  font-weight: 500;
  font-size: 1.2em;
  color: rgba(59, 69, 77, 0.25);
}
.session_container .session_text-header .header_choose {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background: rgb(30, 113, 255);
  padding: 4px;
  border-radius: 50px;
}
.session_container .session_text-header .header_choose-label {
  cursor: pointer;
}
.session_container .session_text-header .header_choose-label .label_description {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.8rem 1.6rem;
}
.session_container .session_text-header .header_choose-label .input_checked {
  background: rgb(255, 255, 255);
  color: rgb(59, 69, 77);
  border-radius: 50px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.session_container .session_text-header .header_choose-label #signIn {
  display: none;
}
.session_container .session_text-header .header_choose-label #logIn {
  display: none;
}
.session_container .session_text-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  height: 100%;
}
.session_container .session_text-form .label_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  height: 100%;
}
.session_container .session_text-form .label_container .form_label {
  border-radius: 6px;
}
.session_container .session_text-form .label_container .form_label .label_description {
  padding: 0 0.8rem;
  color: rgb(59, 69, 77);
}
.session_container .session_text-form .label_container .form_label-input {
  padding: 0 1.6rem;
  width: 28rem;
  height: 3.2rem;
  border: none;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  color: rgb(59, 69, 77);
  font-size: 1.4em;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
}
.session_container .session_text-form .label_container .form_label-input:focus {
  outline: none;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.session_container .session_text-form .label_container .form_label-input::placeholder {
  color: rgba(59, 69, 77, 0.25);
}
.session_container .session_text-form .form_bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}
.session_container .session_text-form .form_bottom-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: rgb(59, 69, 77);
}
.session_container .session_text-form .form_bottom-text .text_link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: rgba(0, 0, 0, 0);
  color: rgb(30, 113, 255);
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in;
}
.session_container .session_text-form .form_bottom-text .text_link:hover {
  color: rgb(3, 86, 205);
}
.session_container .session_text-form .form_bottom-text .text_link:focus {
  color: rgb(3, 86, 205);
  outline: none;
}
.session_container .session_text-form .form_bottom-submit {
  padding: 0.8rem 1.6rem;
  background: rgb(30, 113, 255);
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.session_container .session_text-form .form_bottom-submit:hover {
  background: rgb(3, 86, 205);
}
.session_container .session_text-form .form_bottom-submit:focus {
  outline: none;
  background: rgb(3, 86, 205);
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.session_container .session .session_figure {
  position: relative;
}
.session_container .session .session_figure .session_figure-icon {
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;
}

/*# sourceMappingURL=index.css.map */
